
.moviesCard {
    list-style: none;
    font-size:1.3rem;
    text-align:center;
   
}
.movieImage {
    border-radius: 10px;
   
    width:230px;
    height:345px;

}



a{
    text-decoration: rgb(9, 9, 8);
  
}
@media(max-width: 560px){
    .movieImage{
        width:90%;
        height: auto;
 
    }
}
